body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../img/background.jpg") center fixed;
    margin-bottom: 200px;
}

.salvo1 {
    background: url("../img/water.jpg") !important;
}

.salvo2 {
    background-color: purple !important;
}

.hit {
    background: url("../img/fire.jpg") !important;
}

table {
    margin-top: 50px;
    text-align: center;
}

.tabla {
    margin-top: 100px;
}

th {
    background-color: #fff !important;
    color: black;
}

h1 {
    font-size: 50px;
    font-family: "Bangers";
    text-align: center;
    color: black;
    height: 8vh;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 85px;
}

.player1 {
    color: blue;
}

.player2 {
    color: red;
}


.paint {
    background-color: red !important;
}

.form-select {
    width: 40%;
}

h2 {
    font-family: "Bangers", "cursive";
    text-align: center;
    color: black;
    letter-spacing: 1px;
    margin-top: 45px;
}

.ship0 {
    background-color: red !important;
}

.ship1 {
    background-color: grey !important;
}

.ship2 {
    background-color: yellow !important;
}

.ship3 {
    background-color: green !important;
}

.ship4 {
    background-color: blue !important;
}

.paint {
    background-color: blue !important;
}