body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/game3.jpg");
    background-size: 100%;
    margin-bottom: 150px;
}

.salvo1,
.salvo2 {
    background: url("../img/water.gif") !important;
    text-align: center;
}

.hit {
    background: url("../img/hit.gif") !important;
    color: black;
}

.sunk {
    background: url("../img/sunk.gif");
    color: black;
}

table {
    margin-top: 50px;
    text-align: center;
}

.tabla {
    margin-top: 100px;
    text-align: center;
}

th,
td {
    width: 9.09%;
    text-align: center;
    background-color: rgb(168, 155, 155) !important;
    color: black;
    opacity: 85%;
}

h1 {
    font-size: 50px;
    font-family: "Bangers";
    text-align: center;
    color: black;
    height: 8vh;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 85px;
}

h3 {
    font-family: "fantasy";
    font-weight: bolder;
    font-size: 30px;
}

.player1 {
    color: blue;
}

.player2 {
    color: red;
}


.paint {
    background-color: red !important;
}

.form-select {
    width: 40%;
}

.btn-add-ships {
    margin-left: 0px;
}

.shot-btn {
    margin-left: 47%;
}

h2 {
    font-family: "Bangers", "cursive";
    text-align: center;
    color: black;
    letter-spacing: 1px;
    margin-top: 45px;
}

.ship0 {
    background-color: red !important;
}

.ship1 {
    background-color: violet !important;
}

.ship2 {
    background-color: yellow !important;
}

.ship3 {
    background-color: green !important;
}

.ship4 {
    background-color: blue !important;
}

.paint {
    background-color: red !important;
}